body {
    font-family: Arial;
    text-align: center;
    background: #f5f5f5;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    margin: 10px;
    background: #2c7be5;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}
